{{#each beersFromApi}}
<ul>  
  <li style="padding-top:40px">
  <h3>{{name}}</h3>
  <img src={{image_url}} alt="" style="height:150px">
  <li>{{tagline}}</li>
  <li>{{description}}</li>
  </li>
</ul>
{{/each}}