<div>
<h1>hello {{message}}</h1>
<main>
    <section>
        <img src="/public/images/beer.png" alt="">
        <div>
            <ul>
                <li><a href="/beers">Check the Beers!</a></li>
                <li><a href="/random-beers">Check a Random Beer</a></li>
            </ul>
        </div>
    </section>
</main>
</div>